.navbar {
  background-color: #041e41;
  max-height: 10vh;
  font-family: Roboto;
}

.navbar-branding {
  max-height: 100%;
  width: auto;
}

.logo{
  height: 40px;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #ff4100;
}

.greeting-initials {
  height: 40px;
  width: 40px;
  background-color: #ff4100;
  border-radius: 20px;
}

.greeting-initials-text {
  font-size: 1.1rem;
  color: #fff;
  font-family: Roboto;
}
