.project-item {
  background-color: #fff;
  font-family: Roboto;
  -webkit-box-shadow: 5px 6px 22px -6px rgba(0,0,0,0.46);
  -moz-box-shadow: 5px 6px 22px -6px rgba(0,0,0,0.46);
  box-shadow: 5px 6px 22px -6px rgba(0,0,0,0.46);
  }

.project-item:hover {
  background-color: #eeeeee;
}

.leader-circle {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #041e41;
}

.expand-circle {
  border: 1px solid #041e41;
  height: 25px;
  width: 25px;
  border-radius: 25px;
}

.expand-plus {
  color: #041e41;
}

.expand-circle:hover {
  background-color: #041e41;
  cursor: pointer;
}
.expand-circle:hover .expand-plus {
  color: #fff;
}

/* .expand-plus:hover {
  color: #fff;
  cursor: pointer;
} */

.team-count {
  position: absolute;
  color: #041e41;
  font-size: .7rem;
  right: 2px;
  top: 35px;
}
