.side-bar {
  background-color: #fff;
  font-family: Roboto;
  width: 15%;
  /* position: fixed; */
  height: 95vh;
  /* left: 15vw; */
}

.side-bar-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.filter-pill {
  background-color: #fff;
  border: 1px solid #041e41;
  height: 30px;
  border-radius: 15px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.filter-pill:hover {
  background-color: #041e41;
  color: #fff;
}
